[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Sreenivas K (sreenivas1591)
[access "refs/for/refs/*"]
	read = group user/Sreenivas K (sreenivas1591)
	push = group user/Sreenivas K (sreenivas1591)
	label-Code-Review = -2..+2 group user/Sreenivas K (sreenivas1591)
	label-Verified = -1..+1 group user/Sreenivas K (sreenivas1591)
	rebase = group user/Sreenivas K (sreenivas1591)
	removeReviewer = group user/Sreenivas K (sreenivas1591)
	submit = group user/Sreenivas K (sreenivas1591)
[access "refs/heads/*"]
	read = group group 1
	read = group user/Sreenivas K (sreenivas1591)
	create = group user/Sreenivas K (sreenivas1591)
	push = +force group user/Sreenivas K (sreenivas1591)
	pushMerge = group user/Sreenivas K (sreenivas1591)
[access "refs/tags/*"]
	push = +force group user/Sreenivas K (sreenivas1591)
	pushTag = group user/Sreenivas K (sreenivas1591)
	pushSignedTag = group user/Sreenivas K (sreenivas1591)
	read = group group 1
	read = group group 2
[access "refs/changes/*"]
	push = group group 1
	push = group group 2
	pushMerge = group group 2
[access "refs/for/refs/heads/*"]
	push = group group 1
	push = group group 2
	pushMerge = group group 2
